# rename to local.secrets.exs

use Mix.Config

# see https://github.com/nerves-project/nerves_firmware_ssh
config :nerves_firmware_ssh,
  authorized_keys: [
    # this is an example, replace with your own key(s)
    "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAAAgQDBCdMwNo0xOE86il0DB2Tq4RCv07XvnV7W1uQBlOOE0ZZVjxmTIOiu8XcSLy0mHj11qX5pQH3Th6Jmyqdj",
  ]
